<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>
    <div class="col-12">
      <button class="btn btn-success btn-block" [routerLink]="['user/' + 0]">
          <i class="fa fa-edit"></i>
          Add new user
      </button>
  </div>
    <div class="col-12 col-lg-4">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" (keyup)="onChangePhrase($event)">

      </form>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="onColumnSelect('id')">#</th>
          <th (click)="onColumnSelect('name')">Name</th>
          <th (click)="onColumnSelect('email')">Email</th>
          <th (click)="onColumnSelect('address')">Address</th>
          <th (click)="onColumnSelect('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async |filter:'name':phrase| sorter:columnKey">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>